.game {
    overflow: auto;
    margin: 3%;
}

.input-warning {
    margin: 3%;
}

.game-stats {
    text-align: center;
    margin: 3%;
    white-space: pre;
}

.instructions {
    margin: 0px 0px 3px 0px;
}